/* Font-family and margin for the enire body */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: lightblue;
}
/* Sizing for the header and color  */
header {
    padding: 45px;
    background-color: rgb(79, 132, 185);
    border-bottom: 4px black solid;
}
/* Positioning of the title of the header to the far left & up with other elements */
header h1 {
    position: absolute;
    top: 1%;
    left: 0%;
    font-size: 40px;
    background-color: aqua;
    color: rgb(79, 132, 185);
    float: left;
    margin: auto;
   
}
/* Position and sizing of the navigation links in the top right of the header  */
header ul li {
    font-size: 20px;
    justify-content: space-between;
    list-style-type: none;
    float: right;
    padding: 5px;
}
/* Default color of all links  */
a:link {
    color: aqua;
}
/* Changes color when link has been visited  */
a:visited {
    color: aqua;
}
/* Changes color when hovering the curser over link  */
a:hover {
    color: aliceblue;
}
/* Changes color when link is currently being used  */
a:active {
    color: black;
}
/* Class for the cover photo, adjusts the position, height, and margin  */
.cover-photo {
    height: auto;
    margin-bottom: 5%;
    position: relative;
    display: inline-block;
}
/* Adds a border to the main photo  */
.main-photo {
    width: 100%;
    border: 3px rgb(79, 132, 185) solid;
    border-top: 3px black solid;
}
/* Adjusting the elements of the link under the main photo  */
.link {
    border: 3px black solid;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 40;
    right: 0;
    text-align: center;
    top: 93%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgb(79, 132, 185);
    width: 55%;
}
/* Changes the bottom margin and display values for the about me article  */
article {
    margin-bottom: 120px;
    display: inline-block;

}
/* Adjusts the syntax for all h2 elements to float left with a right & bottom border  */
h2 {
    padding: 30px;
    border-right: 3px black solid;
    border-bottom: 4px aqua solid;
    width: 200px;
}
/* Places the paragraph in a border and floats right  */
article p {
    background-color: rgb(79, 132, 185);
    color: aqua;
    border: 3px black solid;
    width: 80%;
}
/* Elements for all .projects */
.projects {
    list-style-type: none;
    text-align: left;
    margin: 100px;
    padding: 0;
}
/* Creates a border with padding and margins along with other elements to stlye the links */
.projects li {
    width: 200px;
    display: inline-block;
    font-size: 20px;
}
/* Element style for footer, centering text */
footer {
    clear: both;
    list-style-type: none;
    text-align: center;

}
/* Creates a border with padding in a inline-block  for all footer links */
footer li {
    margin: auto;
    width: 100px;
    display: inline-block;
}

div {
    text-align: center;
}



/* Adjust the content to fit a more reponsive screen  */
@media screen and (max-width: 1000px) {
    article p {
        width: 65%;
    }
    .projects li {
        margin: 4px;
    }
}
@media screen and (max-width: 891px) {
    .projects li {
        display: block;
    }
}
@media screen and (max-width: 650px) {
    h2 {
        font-size: 18px;
        margin-left: 0%;
        padding: 15px;
    }
}